name: Daily TEFAS Update

on:
  schedule:
    - cron: '0 18 * * *' # Her gün UTC 18:00 (TR saatiyle 21:00)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repo content
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install pandas tefas-crawler openpyxl

      - name: Run Python script
        run: python main.py

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Otomatik Güncelleme: TLY Fon Verisi"
          file_pattern: "*.csv"
